
.masthead {
  padding-top: 30px;
  background-image: url('./img/splashImage-2048x719.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height:550; 
  border-radius: 0 !important;
  background-position-x: 32%;
  @include background-cover;

  padding-bottom: 50px;

  padding-right: 60px;
  padding-left: 60px;

  text-align: center;
  @include colorDarkorange;
  @include tester-font;

  .mastheadHeading {
    font-size: 5rem;
    font-weight: 600;
    @include colorDodgerblueFour;
    @include tester-font3;
  }

  .mastheadSubheading {
    font-size: 3rem;
    @include colorCrimson;
  }

  .mastheadBlurb {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 2rem;
    @include tester-font4;
  }

  .mastheadBlurbElipsis {
    margin-left: 25px;
    margin-bottom: 35px;
    font-size: 2rem;
    @include tester-font4;
  }

  .mastheadSignup {
    text-align: center;
  }

  @media (min-width: 768px) {

    padding-top: 70px;
    text-align: left;

    .mastheadHeading {
      font-size: 5rem;
      font-weight: 600;
    }
    
    .mastheadSubheading {
      font-size: 4rem;
      font-weight: 500;
    }
    
    .mastheadBlurb {
      font-size: 3rem;
      font-weight: 400;
    }
    
    .mastheadBlurbElipsis {
      font-size: 3rem;
      font-weight: 400;
    }
    .mastheadSignup {
      text-align: left;
    }

  }
  
  @media (min-width: 992px) {
    .mastheadHeading {
      font-size: 6rem;
      font-weight: 600;
    }
    
    .mastheadSubheading {
      font-size: 5rem;
      font-weight: 400;
    }
    
  }
}
